<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Phpactor</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="http://phpactor.github.io/phpactor/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://phpactor.github.io/phpactor/css/highlight.tomorrow-night.css">
        <link rel="stylesheet" href="http://phpactor.github.io/phpactor/css/main.css">
    </head>
    <body>

        <main class="container-fluid">
            <div class="row">

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">
                        <div class="logo">
<center>
							<a href="http://phpactor.github.io/phpactor"><img src="http://phpactor.github.io/phpactor/images/logo-small.png" /></a>
							<br/>
							<b>Phpactor</b><br/> <i>Intelligent completion and refactoring tool for PHP</i>
</center>
						</div>

                                                    <p class="text-muted">
                                Home
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/index.html">
                                            About
                                        </a>
                                    </li>
                                                            </ul>
                                                    <p class="text-muted">
                                Usage
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/standalone.html">
                                            Standalone
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/vim-plugin.html">
                                            VIM plugin
                                        </a>
                                    </li>
                                                            </ul>
                                                    <p class="text-muted">
                                Reference
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/navigation.html">
                                            Navigation
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/refactorings.html">
                                            Refactorings
                                        </a>
                                    </li>
                                                            </ul>
                                                    <p class="text-muted">
                                Other topics
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/history.html">
                                            History
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/screenshots.html">
                                            Screenshots
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://phpactor.github.io/phpactor/rpc.html">
                                            RPC Protocol
                                        </a>
                                    </li>
                                                            </ul>
                        
                    </nav>

                <section class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
                    <h1 id="couscous-dark-template">Couscous Dark template</h1>
<p><img src="screenshot.png" alt="" /></p>
<h2 id="usage">Usage</h2>
<p>To use the template, set it up in your <code>couscous.yml</code> configuration file:</p>
<pre><code class="language-yaml">template:
    url: https://github.com/CouscousPHP/Template-Dark</code></pre>
<h2 id="configuration">Configuration</h2>
<p>Here are all the variables you can set in your <code>couscous.yml</code>:</p>
<pre><code class="language-yaml"># Base URL of the published website
baseUrl: http://username.github.io/project

# Used to link to the GitHub project
github:
    user: myself
    repo: my-project

title: My project
subTitle: This is a great project.

# The left menu bar
menu:
    sections:
        main:
            name: Main documentation
            items:
                home:
                    text: Home page
                    # You can use relative urls
                    relativeUrl: doc/faq.html
                foo:
                    text: Another link
                    # Or absolute urls
                    absoluteUrl: https://example.com
        other:
            name: Other topics
            items:</code></pre>
<p>Note that the menu items can also contain HTML:</p>
<pre><code class="language-yaml">home:
    text: "&lt;i class=\"fa fa-github\"&gt;&lt;/i&gt; Home page"
    relativeUrl: doc/faq.html</code></pre>
<h2 id="menu">Menu</h2>
<p>To set the current menu item (i.e. highlighted menu item), set the <code>currentMenu</code>
key in the Markdown files:</p>
<pre><code class="language-markdown">---
currentMenu: home
---

# Welcome</code></pre>
                </section>

            </div>

        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });
        </script>

		<footer>
<hr />
<center>
			<a href="https://github.com/phpactor/phpactor">
				<i class="fa fa-github"></i>
Fork me on Github!
			</a>
</center>
		</footer>

	</body>
</html>
