/vendor
/extensions
/tests/Assets/Workspace
/tests/Assets/Cache
/cache
/extensions
/phpbench.json

# File frequently used for testing
/lib/Test.php
/.phpactor.yml
/.phpactor/*

# docs
/.couscous

# php-cs-fixer
/.php_cs.cache
./.php_cs
