/extensions
/phpactor.schema.json
/lib/Extension/WorseReflection/stubs
/.phpbench

# Composer
/vendor

# Cache
/tests/Assets/Cache
/cache
/lib/Completion/cache
/lib/WorseReflection/Tests/Cache

# Workspaces
/tests/Assets/Workspace
/**/Tests/Workspace

# File frequently used for testing
/lib/Test.php
/.phpactor.yml
/.phpactor/*

# Logging
/application.log

/.php-cs-fixer.cache
/build
__pycache__
/doc/_ext/__pycache__
.phpunit.result.cache
