/vendor
/extensions
/tests/Assets/Workspace
/tests/Assets/Cache
/cache
/extensions
/phpactor.schema.json
/**/Tests/Workspace
/lib/Completion/cache
/lib/Test.php
/lib/Extension/WorseReflection/stubs

# File frequently used for testing
/lib/Test.php
/.phpactor.yml
/.phpactor/*

# docs
/doc/_build

/.php-cs-fixer.cache
/build
__pycache__
/doc/_ext/__pycache__
.phpunit.result.cache
