<?php

$finder = PhpCsFixer\Finder::create()
    ->in('lib')
    ->in('tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'no_unused_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
