{
    "path": "tests/Benchmark",
    "bootstrap": "vendor/autoload.php",
    "storage": "reports",
    "storage.reports.url": "https://reports.phpbench.org",
    "extensions": [
        "PhpBench\\Extensions\\Reports\\ReportsExtension",
        "PhpBench\\Extensions\\XDebug\\XDebugExtension"
    ]
}
