parameters:
    level: 7
    paths:
        - lib
    excludePaths:
        - */lib/*Tests/Workspace/*
        - */lib/*Tests/Example/*
        - */lib/Extension/*/Tests/Workspace/*
        - */lib/Extension/*/Tests/Example/*
        - */lib/WorseReflection/Tests/*
        - lib/Completion/Tests/Unit/Core/Util/OffsetHelperTest.php
        - */lib/ClassMover/Tests/Adapter/TolerantParser/examples/*
        - lib/Test.php
        - lib/WorseReflection/Core/SourceCodeLocator/InternalStubs/*
        - lib/Extension/LanguageServerCodeTransform/Tests/Stub/*
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Yield can be used only with these return types: Generator, Iterator, Traversable, iterable.#'


includes:
    - phpstan-baseline.neon
