parameters:
    level: 7
    paths:
        - lib
    excludePaths:
        - lib/*/Tests/Workspace
        - lib/*/Tests/Example
        - lib/Extension/*/Tests/Workspace
        - lib/Extension/LanguageServerIndexer/Tests/Workspace
        - lib/Extension/*/Tests/Example
        - lib/Extension/LanguageServer

includes:
    - phpstan-baseline.neon
