<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="PhpActor Test Suite">
            <directory>./tests</directory>
            <exclude>tests/Assets</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="PHPACTOR_ALLOW_XDEBUG" value="1"/>
    </php>

</phpunit>
