<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    colors="true" 
    bootstrap="vendor/autoload.php" 
    displayDetailsOnPhpunitDeprecations="false"
    displayDetailsOnTestsThatTriggerDeprecations="true"

    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  >
  <source>
    <include>
      <directory>.</directory>
    </include>
    <exclude>
      <directory>vendor/</directory>
    </exclude>
  </source>
  <testsuites>
    <testsuite name="PhpActor Test Suite">
      <directory>./tests/System</directory>
      <directory>./tests/Unit</directory>
      <directory>./tests/Smoke</directory>
      <directory>./tests/Integration</directory>

      <directory>./lib/*/Tests/</directory>
      <directory>./lib/Extension/*/Tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="PHPACTOR_ALLOW_XDEBUG" value="1"/>
  </php>
</phpunit>
