div.document {
    width: 1050px;
}

.github-link {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    border-color: #ddd;
}

@media screen and (max-width: 875px) {
    div.document {
        width: 100%;
    }
}

.logo h2 {
    text-align: center;
    font-family: sans-serif;
}

#contents, .toctree-wrapper {
    background-color: white;
    border-style: none;
    padding: 0px;
}
