<?php

$finder = PhpCsFixer\Finder::create()
    ->in('{{ source_dir }}')
    ->in('tests')
    ->exclude([
        {% for dir in php_cs_fixer_ignore_dirs -%}
        '{{ dir }}'
        {%- endfor %}

    ])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'no_unused_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;

