includes:
    - vendor/phpstan/phpstan/conf/config.level{{ phpstan_level }}.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        {% for ignore in phpstan_ignore -%}
        - {{ ignore|raw }}
        {% endfor %}

    paths:
        - {{ source_dir }}

